.multilayer-parallax-wrapper {
    /* width: 100%; */
    height: 130vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .multilayer-parallax-h1 {
    position: relative;
    font-size: 170px;
    font-weight: bold;
    z-index: 10;
    color: white;
  }
  
  .multilayer-parallax-div1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-attachment: fixed;
    background-image: url('../../assets/waterfall.avif');
    background-position: bottom;
    background-size: cover;
  }
  
  .multilayer-parallax-div2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-attachment: fixed;
    /* background-image: url('../../assets/group1.png'); */
    background-position: bottom;
    background-size: cover;
  }
  

  
.mokne-paragraph0 {
  color: rgb(255, 255, 255);
  top: 0;
  z-index: 9;
}

.mokne-paragraph1 {
  color: #ffffff;
  opacity: 0.6;
  z-index: 8;
  top: 90px; 
}

.mokne-paragraph2 {
  opacity: 0.4;
  z-index: 7;
  color: #ffffff6a;
  top: 180px; 
}
  