
.video-container {
  position: relative;
  overflow: hidden;
 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  object-fit: cover;
  z-index: -1;
}
.on-top-div{
  height: 1000px;
}
  
.mokne-paragraph {
  position: absolute;
  margin-top: 8rem;
  height: auto;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: rgba(209, 103, 42, 0.329);
  -webkit-text-stroke: 3px rgb(243, 243, 243);
  font-size: 240px;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in-out;
}

.mokne-image{
  height: 400px;
 box-shadow: 4px 5px 8px black;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
  font-family: var(--font-number-6);
  padding: 2rem;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.parahraph-div{
  display: flex;
  flex-direction: column;
}

.parahraph-div2{
  display: flex;
  gap: 1.3rem;
}

.parahraph-div p{
  margin: 0;
  padding: 0;
}

.pattern-background {
  background-color: #1f1f75;
  opacity: 0.8;
  background-image: 
    repeating-linear-gradient(0deg, #ffffffb4, #ffffff85 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(90deg, #ffffff86, #ffffff85 1px, transparent 1px, transparent 60px);
  background-size: 60px 60px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5; 
  }
  100% {
    opacity: 1;
  }
}

