
.video-container {
  position: relative;
  overflow: hidden;
}

.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.on-top-div {
  position: relative; /* Ensure this container is the reference point for its child */
  height: 1000px;
  background-image: url("../../assets/oceanRock.avif");
  background-size: cover;
  transition: height 2s ease;
  z-index: 1;
  overflow: hidden;
}

.on-top-div2 {
  position: absolute;
  height: 1000px;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-image: url("../../assets/subtract2.png");
  z-index: 3; 
}
.mokne-single-bottle{
  position: absolute;
  left: 40%;
  height: 700px;
  z-index: 2;
}

.mokne-paragraph {
  font-size: 210px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 6;
  text-align: center;
  
}

.mokne-image{
  height: 400px;
  box-shadow:-6px 5px 15px rgb(31, 31, 31);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 70px;
  font-weight: bolder;
  font-family: "Waterfall", cursive;
  padding: 2rem;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.mid-section-wrapper{
  background-image: url('../../assets/blueBackground2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem;
  height: 220vh;
  width: 100%;
  gap: 3rem;
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 0.2fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.first-content{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.second-content{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mokne-bottle-image{
  height: 600px;
}

.mokneLogo-h1{  
  font-size: 55px;
  color: #ffffff;
}
.mokneLogo-h1-1{
  color: #41e264;
  margin: 0;
  font-size: 85px;

}

.mokneLogo-h1-1,
.mokneLogo-h1{
  font-family: var(--font-number-7);
  text-shadow:-6px 5px 5px rgba(0, 0, 0, 0.233);
}

.mokne-logo{
  box-shadow:-6px 5px 15px rgb(31, 31, 31);
  border-radius: 0.2rem;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 400px;
  object-fit: cover;
}

.paragraph-div2{
  margin-top: 4rem;
}

.parahraph-div{
  display: flex;
  flex-direction: column;
}

.parahraph-div p{
  margin: 0;
  padding: 0;
}

.pattern-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
    background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.progress-bar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: rgb(0, 89, 255);
  transform-origin: 0%;
}

.third-content{
  height: 1000px;
}

@media (max-width: 1540px) {
  .background-video {
    height: 100vh;
  }
  .on-top-div{
    height: 100vh;
  }
  .image-container {
    gap: 4rem;
    font-size: 80px;
  }

  .mokne-image{
    height: 300px;
   box-shadow: 4px 5px 8px black;
  }

  .mokne-paragraph {
    font-size: 150px;
  }
}