
.video-container {
  position: relative;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  object-fit: cover;
  z-index: -1;
}
.on-top-div{
  height: 1000px;
}
  
.mokne-paragraph {
  font-size: 210px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 6;
  text-align: center;
  
}

.mokne-image{
  height: 400px;
 box-shadow: 4px 5px 8px black;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 70px;
  font-weight: bolder;
  font-family: "Waterfall", cursive;
  padding: 2rem;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.mid-section-wrapper{
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.mokneLogo-wrapper{
  position: relative;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mokneLogo-h1{
  font-size: 45px;
  color: #ffffff;
}

.mokne-logo{
  box-shadow:-6px 5px 15px rgb(31, 31, 31);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.h1-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 400px;
  padding: 0rem 2rem;
  border-radius: 1rem;
  width: fit-content;
  background-color: rgb(61, 68, 61);
  box-shadow:-6px 5px 15px rgb(31, 31, 31);
}

.background-blur-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  z-index: -1;
}

.home-h1{
  text-shadow: 2px 7px 6px rgb(25, 0, 255);
  color: #ffffff;
  font-size: 100px;
  font-family:var(--font-number-7);
}

.paragraph-div2{
  margin-top: 4rem;
}

.parahraph-div{
  display: flex;
  flex-direction: column;
}

.parahraph-div p{
  margin: 0;
  padding: 0;
}

.pattern-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
    background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.progress-bar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: rgb(0, 89, 255);
  transform-origin: 0%;
}

.third-content{
  height: 1000px;
}

.mokne-bottle-image{
  height: 400px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5; 
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1540px) {
  .background-video {
    height: 100vh;
  }
  .on-top-div{
    height: 100vh;
  }
  .image-container {
    gap: 4rem;
    font-size: 80px;
  }

  .mokne-image{
    height: 300px;
   box-shadow: 4px 5px 8px black;
  }

  .mokne-paragraph {
    font-size: 150px;
  }
}