.divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
    border: none;
    width: 100%;
    display: flex; 
    justify-content: center;
}

.logo-container {
    width: fit-content; 
}

.divider-with-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}