.main-header-container {
    position: fixed;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 5px 25% 5px 25%;
    gap: 5rem;
    z-index: 1001;
}

.header-ul {
    font-family: var(--main-font);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0;
}

.header-ul li {
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    transition: all 0.15s ease-in;
    z-index: 1001;
}

.header-ul a {
    color: white;
    text-decoration: none;
}

.header-ul li:hover {
    color: #9db9dd;
}

.logo-and-name-section {
    padding: 0.5rem 0;
    color: #9db9dd;
    font-family: var(--logo-font);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



